@font-face
  {
  font-family:"BalooBhai-Regular";
  src: url("../FONTS/BalooBhai-Regular.ttf");
  }
body
  {
  width:100%;
  height:100%;
  color: white;
  font-family:"BalooBhai-Regular";
  } 
  h1{
    font-family:"BalooBhai-Regular";
    text-align: center;
  font-size: 60px;
  margin-bottom: 20px;
  padding-top: 20px;
  }
  h2{

  }
  .module p{
     color:#ffe6cc;
  }
  .top-scroll-wrapper {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background: #18181a;
}
.top-scroll {
  z-index: 9999;
  width: 100%;
  height: 0.2rem;
  background: #ffffff;
  transform: scaleX(0);
  transform-origin: left;
  transform: scaleX(0.374133);
}
#large-header {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: white;
  text-align: center;
  background-color: #18181a;
}
.large-header{
}
canvas{
  width: 100%;
  height: 100vh;
  
}
.demo-canvas {
  position: relative;
  z-index: -1;

}
.texte {
  color: white;
  position: absolute;
  z-index: 0;
  top: 10vh;
  font-size: 36px;
  text-align: center;
  width: 100%;
}
.texte img{
  width: 200px;
}
.projet{
  background-color: #3D4457;
}
.titre{
  text-align: center;
  font-size: 60px;
  margin-bottom: 20px;
  padding-top: 20px;

}
.come-in {
  transform: translateX(-150px);
 opacity: 0;
  animation: come-in 2.5s ease-out forwards;
}

.come-in:nth-child(odd) {
  animation-duration: 2s;
}

.already-visible {
  transform: translateX(0);
  opacity: 1;
  animation: none;
}

@keyframes come-in {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.projet img{
  width: 350px;
  height: auto;
  margin-bottom: 20px;
  border: solid 2px white;
  -moz-box-shadow: 10px 10px 5px 0px #000000;
-webkit-box-shadow: 10px 10px 5px 0px #000000;
-o-box-shadow: 10px 10px 5px 0px #000000;
box-shadow: 10px 10px 5px 0px #000000;
}
.parcours{
  background-color: #2E323B;
  padding-bottom: 20px;
}
.parcours img{
  width: 128px;
}
.ecole{
  padding-bottom: 20px;
  padding-top: 20px;
  margin:auto;
}
.travail
{
  padding-bottom: 20px;
  padding-top: 20px;
  margin: auto;
}
.skills{
  background-color: #1F222B;
  padding-bottom: 20px;
}
.skills img {
  padding-top: 20px;
  margin-bottom: 50px;
}
.html5 img{
  width: 75px;
  filter: grayscale(1);
}
.html5 img:hover{
filter: grayscale(0);
-webkit-transition:all 0.5s;
transition:all 0.5s;
  }
.css3 img{
  width: 75px;
  filter: grayscale(1);
}
.css3 img:hover{
filter: grayscale(0);
-webkit-transition:all 0.5s;
transition:all 0.5s;
  }
.js img {
  width: 75px;
  filter: grayscale(1);
}
.js img:hover{
filter: grayscale(0);
-webkit-transition:all 0.5s;
transition:all 0.5s;
  }
.bootstrap img{
  width: 75px;
  filter: grayscale(1);
}
.bootstrap img:hover{
filter: grayscale(0);
-webkit-transition:all 0.5s;
transition:all 0.5s;
  }
.php img{
  width: 75px;
  padding-top: 35px;
  filter: grayscale(1);
}
.php img:hover{
filter: grayscale(0);
-webkit-transition:all 0.5s;
transition:all 0.5s;
  }
.filezilla img{
  width: 75px;
  filter: grayscale(1);
}
.filezilla img:hover{
filter: grayscale(0);
-webkit-transition:all 0.5s;
transition:all 0.5s;
  }
.gitlab img{
  width: 75px;
  filter: grayscale(1);
}
.gitlab img:hover{
filter: grayscale(0);
-webkit-transition:all 0.5s;
transition:all 0.5s;
  }
.jquery img{
  width: 75px;
  padding-top: 50px;
  filter: grayscale(1);
}
.jquery img:hover{
filter: grayscale(0);
-webkit-transition:all 0.5s;
transition:all 0.5s;
  }
.mysql img{
  width: 75px;
  filter: grayscale(1);
}
.mysql img:hover{
filter: grayscale(0);
-webkit-transition:all 0.5s;
transition:all 0.5s;
  }
.wordpress img{
  width: 75px;
  filter: grayscale(1);
}
.wordpress img:hover{
filter: grayscale(0);
-webkit-transition:all 0.5s;
transition:all 0.5s;
  }
.footer{
  background-color: #1F263A; 
  padding-bottom: 30px; 
  padding-top:30px;
}
.contenu-footer{ 
margin-top: 20px;
}
@media screen and (min-width: 1367px) {
     .texte p{
      font-size: 32px;
    }
    .texte img{
      width: 200px;
    }
  }
  @media screen and (max-width: 1366px) {
     .texte p{
      font-size: 28px;
    }
    .texte img{
      width: 150px;
    }
  }
  @media screen and (max-width: 1024px) {
     .texte p{
      font-size: 24px;
    }
    .texte img{
      width: 125px;
    }
    .bloc img{
      width: 90%;
    }
  }
  @media screen and (max-width: 800px){
    .texte p{
      font-size: 18px;
    }
    .texte img{
      width: 100px;
    }
    .bloc img{
      width: 90%;
    }
    .titre h1{
      font-size: 32px;
    }
    h2{
    font-size: 20px;
    }
  }
  @media screen and (max-width:480px ) {
     .texte p{
      font-size: 14px;
    }
    .texte img{
      width: 50px;
    }
    .bloc img{
      width: 90%;
    }
      .titre h1{
      font-size: 28px;
    }
    h2{
    font-size: 18px;
    }
    .skills img{
      width: 32px;
    }
  }
  @media handheld{
    .top-scroll-wrapper{
      display: none;
    }
  }

